/* static/css/style.css */
body {
  padding-top: 56px;
}

.jumbotron {
  background-color: #f8f9fa;
}

.table th, .table td {
  vertical-align: middle;
}

.badge-success {
  background-color: #28a745;
}

.badge-primary {
  background-color: #007bff;
}
